<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- messages('flash', locals) %>
    <form method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="organisation" placeholder="organisation">
    <input type="number" name="mobile" placeholder="mobile">
    <a href="" class="btn btn-success">SUBMIT</a>
    </form>

  </body>
</html>
